.vs
AudioEngine/out/build
Core/out/build
CMakeFiles
ALL_BUILD.*
AudioEngine.vcxproj*
Core.vcxproj*
cmake_install.cmake
CMakeCache.txt
Project.sln
ZERO_CHECK.vcxproj
ZERO_CHECK.vcxproj.filters
*.dir
Win32

build
cmake-build-debug
cmake-build-release
.idea
